.tijger1{
    position: relative;
}

.tijger2{
    position: relative;
    top: -153px;
    left: 160px;
}

.tijger3{
    position: relative;
    top: -153px;
    left: 160px;
}

.tijger4{
    position: relative;
    top: -153px;
    left: 160px;
}

.tijger5{
    position: relative;
    left: -480px;
}

.tijger6{
    position: relative;
    top: -153px;
    left: 160px;
}

.tijger7{
    position: relative;
    top: -153px;
    left: 160px;
}

.tijger8{
    position: relative;
    top: -153px;
    left: 160px;
}